@import '../../styles/colors';
@import '../../styles/breakpoints';

header.app-header {
    position: relative;

    height: 8.5rem;

    background-color: $brand-woodsmoke;
    transition: all .3s ease-out;

    .link {
        color: $brand-white;
        font-weight: 500;
        text-decoration: none;

        transition: color .2s ease-in-out;

        &:hover,
        &:active {
            color: $brand-gossamer;
        }
    }

    >.logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        display: flex;
        height: 100%;

        align-items: center;

        font-size: 3.2rem;
        color: $brand-white;
    }

    >.sign-area,
    >.account-area {
        float: right;

        height: 100%;
        margin-right: 2rem;

        align-items: center;

        >.link {
            display: inline-flex;
            height: 100%;
            margin: 0 1.2rem;

            align-items: center;
        }
    }

    .debug-online-status {
        $edge: 1rem;

        position: absolute;
        top: 33%;
        right: -1.3rem;
        transform: translateY(-50%);

        width: $edge;
        height: $edge;
        border-radius: 50%;
        border: 1px solid darken($brand-amaranth, 10%);

        background-color: $brand-amaranth;

        transition: all .5s linear;

        &.online {
            border-color: darken($brand-gossamer, 2%);

            background-color: $brand-gossamer;
        }
    }

    @media ($device-mobile) {
        height: 6rem;
    }
}