@import '../../styles/page';
@import '../../styles/colors';
@import '../../styles/breakpoints';

.login-page {
    >.popup {
        position: relative;

        width: 40rem;
        border: {
            width: 1rem;
            style: solid;
            color: rgba($brand-woodsmoke, .25);
            radius: 5px;
        }

        background-color: $brand-white;

        >.loader-container {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            display: flex;

            justify-content: center;
            align-items: center;

            background-color: rgba($brand-woodsmoke, .4);
        }

        >.login-header {
            position: relative;

            display: flex;
            height: 8rem;

            justify-content: center;
            align-items: center;

            font-size: 3.2rem;
            font-weight: 500;
            color: $brand-white;

            background-color: $brand-woodsmoke;

            @media ($device-mobile) {
                height: 6rem;

                font-size: 2.4rem;
            }
        }

        >.login-content {
            $height: 5.5rem;

            padding: 3rem;

            color: $brand-woodsmoke;

            >.input-line {
                margin-bottom: 1rem;

                > input {
                    width: 100%;
                    height: $height;

                    font-size: 1.6rem;
                    text-indent: 1rem;

                    border: 1px solid $brand-aluminium;

                    &:focus {
                        border-width: 2px;
                    }
                }
            }

            >.warning {
                margin-bottom: 1rem;

                font-size: 1.8rem;
                font-weight: 400;
                color: $brand-amaranth;
            }

            >.login-button {
                width: 100%;
                height: $height;
                border: {
                    style: solid;
                    width: 1px;
                    radius: 4px;
                    color: darken($brand-observatory, 10%);
                }

                background-color: $brand-observatory;

                transition: background-color .15s linear;

                font-size: 2rem;
                font-weight: 400;
                color: $brand-white;

                &:disabled {
                    border-color: darken($brand-aluminium, 20%);

                    background-color: $brand-aluminium;
                    opacity: .7;
                }
            }
        }
    }
}