@import '../../styles/page';
@import '../../styles/colors';

.overlay {
    > .popup {
        position: relative;

        padding: 2rem;

        font-weight: 300;

        background-color: $grey-1;
        box-shadow: 0 1rem 1rem $grey-2;

        > .loader-container {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            display: flex;

            justify-content: center;
            align-items: center;

            background-color: rgba(0, 0, 0, .4);
        }

        > .title {
            margin-bottom: 2rem;

            font-size: 3.2rem;
            text-align: center;
        }

        > .input-line {
            $input-width: 20rem;

            label[for] {
                display: inline-block;

                cursor: pointer;
            }

            > input {
                &[type="text"],
                &[type="password"] {
                    $height: 3rem;

                    width: $input-width;
                    height: $height;

                    font-size: 1.6rem;
                    line-height: $height;
                    text-indent: 1rem;

                    outline: none;

                    &:focus {
                        border: 2px solid dodgerblue;

                        box-sizing: border-box;
                    }
                }
            }

            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        > .warning {
            font-size: 1.6rem;
            color: $red-light;
        }
    }
}