@import '../../styles/page';
@import '../../styles/colors';
@import '../../styles/breakpoints';

.login-popup {
    position: relative;

    width: 40rem;
    border: {
        width: 1rem;
        style: solid;
        color: rgba($brand-woodsmoke, .25);
        radius: 5px;
    }

    background-color: $brand-white;

    >.loader-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;

        display: flex;

        justify-content: center;
        align-items: center;

        background-color: rgba($brand-woodsmoke, .4);
    }

    >.login-header {
        position: relative;

        display: flex;
        height: 8rem;

        justify-content: center;
        align-items: center;

        font-size: 3.2rem;
        font-weight: 500;
        color: $brand-white;

        background-color: $brand-woodsmoke;

        @media ($device-mobile) {
            height: 6rem;

            font-size: 2.4rem;
        }
    }

    >.login-content {
        $height: 5.5rem;

        padding: 3rem;

        color: $brand-woodsmoke;

        &.error {
            >.login-line .incorrect {
                box-shadow: inset 0 0 0 1px $brand-school-bus-yellow;
            }
        }

        >.login-line {
            position: relative;

            &.focused {
                input {
                    padding-top: 2rem;
                }
                label {
                    opacity: 1;
                }
            }

            > label {
                position: absolute;
                display: block;

                margin-top: 0.8rem;
                margin-left: 1.5rem;

                text-transform: uppercase;
                font-size: 1.2rem;
                color: $brand-aluminium;
                opacity: 0;

                transition: all 200ms ease-out;
            }

            > input {
                margin-bottom: 1rem;
                padding: 7px 1.5rem;

                height: $height;
                width: 100%;

                border: none;
                box-shadow: inset 0 0 0 1px #666e6e;

                font-size: 1.6rem;

                &:focus {
                    box-shadow: inset 0 0 0 2px #666e6e;
                }
            }
        }


        >.warning {
            padding: 1rem 1rem;
            margin-bottom: 5px;

            font-size: 1.6rem;
            font-weight: 400;
            background-color: $brand-school-bus-yellow;
            color: $brand-woodsmoke ;

        }

        >.login-button {
            display: flex;

            justify-content: center;
            align-items: center;

            width: 100%;
            height: $height;
            border: {
                style: solid;
                width: 1px;
                radius: 4px;
                color: darken($brand-observatory, 10%);
            }

            background-color: $brand-observatory;

            transition: background-color .15s linear;

            font-size: 2rem;
            font-weight: 400;
            color: $brand-white;

            &.disabled {
                border-color: darken($brand-aluminium, 20%);

                background-color: $brand-aluminium;
                opacity: .7;
            }
        }
    }
}