{
    "extends": "skye",
    "globals": {
        "React": false,
        "PropTypes": false,
        "classnames": false,
        "ReactClass": false,
        "CSSModules": false,
        "ReactDOM": false,
        "mixin": false,
        "DEBUG": false
    },
    "rules": {
        "brace-style": [ 1, "1tbs", { "allowSingleLine": true } ]
    }
}