{
    "extends": "skye",
    "globals": {
        "React": false,
        "_": false,
        "classnames": false,
        "ReactClass": false,
        "ReactDOM": false,
        "mixin": false,
        "DEBUG": false
    }
}