@import '../../styles/colors';
@import '../../styles/layout';

.app-footer {
    @include flex-centered();

    height: 4.5rem;

    font-size: 1.2rem;
    font-weight: 600;
    color: darken($brand-aluminium, 20%);

    background-color: $brand-woodsmoke;
    transition: all .3s ease-out;

    @media (max-width: 640px) {
        height: 3rem;
    }
}