@import '../../styles/colors';
@import '../../styles/page';
@import '../../styles/layout';

.profile-page {
    @include page();
    @include flex-centered();

    >.container {
        text-align: center;

        >h2 {
            margin: 1rem 0;

            font-size: 3.2rem;
        }

        >.edit-link {
            display: block;
            margin-top: 2rem;
        }
    }
}