@import '../../styles/layout';
@import '../../styles/colors';

.loader-container {
    @include flex-centered();

    height: 100%;
}

.disconnected-message-container {
    @include flex-centered();

    height: 100%;

    flex-direction: column;

    >.message {
        margin-bottom: 2rem;
    }
}

.chat {
    display: flex;
    height: 100%;

    flex-direction: row;

    >.online-list {
        width: 30%;
        padding: 1rem 1rem 0;
        border-right: solid 2px $brand-gin;

        line-height: 2.4rem;

        overflow-y: auto;

        flex-shrink: 0;

        >.count {
            font-size: .9em;
            color: #888;
            font-style: italic;
        }
    }

    >.message-container {
        display: flex;
        height: 100%;
        width: 70%;

        flex-direction: column;

        > .log {
            padding: 1rem 1rem 0;

            flex-grow: 1;

            line-height: 2.4rem;

            overflow-y: auto;

            > .message {
                > .server {
                    font-size: .9em;
                    color: #888;
                    font-style: italic;
                }

                > .user {
                    > .time {
                        font-size: .9em;
                        color: #666;
                    }

                    > .name {
                        font-size: .9em;
                        color: #2f6fad;

                        &:after {
                            content: ': ';
                        }
                    }
                }
            }
        }

        > .text-input {
            margin-top: 1rem;
        }
    }
}