@import '../../styles/page';
@import '../../styles/colors';

.input {
    position: relative;

    >label {
        position: absolute;
        top: .8rem;
        left: 1.5rem;

        font-size: 1.2rem;
        text-transform: uppercase;
        color: $brand-aluminium;

        transition: opacity 200ms ease-out;

        opacity: 0;
        pointer-events: none;
    }

    >input {
        width: 100%;
        height: 5.5rem;
        padding: 7px 1.5rem;
        border: none;
        outline: 1px solid $brand-nevada;
        outline-offset: -1px;   // to make it look like border

        font-size: 1.6rem;

        transition: padding 150ms linear;

        &:focus {
            outline-width: 2px;
        }

        &.incorrect {
            outline-color: $brand-school-bus-yellow;
        }
    }

    &.filled {
        >label {
            opacity: 1;
        }

        >input {
            padding-top: 2rem;
        }
    }
}