.smart-pw {
    position: relative;

    >input {
        width: 100%;
    }

    &.with-toggle {
        $toggle-width: 3rem;

        >input {
            padding-right: $toggle-width + 1rem !important;

            // IE10 provides its own "reveal" btn0 for input[type=password] and reset btn for all inputs
            // To avoid collision we'll hide them
            &::-ms-reveal,
            &::-ms-clear {
                display: none;
            }
        }

        >.toggle {
            position: absolute;
            top: 0;
            right: 0;

            width: $toggle-width;
            height: 100%;

            background: {
                image: url('./assets/eye.png');
                repeat: no-repeat;
                size: 1.6rem 1.6rem;
                position: center center;
            }

            cursor: pointer;

            &:hover,
            &:focus {
                transform: scale(1.08);
            }

            &:active {
                transform: scale(.96);
            }

            &.unmasked {
                background-image: url('./assets/eye-stroked.png');
            }
        }
    }
}