$red-dark: #591E23;
$red-light: #ffa2a0;
$coffee: #F2D8A7;
$brown-dark: #73503C;
$brown-light: #A68572;

$dark: #000;
$grey-0: #ccc;
$grey-1: #848484;
$grey-2: #777;
$white: #fff;

$brand-white            : #fff;
$brand-school-bus-yellow: #ffd800;
$brand-gin              : #e8eded;
$brand-aluminium        : #a8b2b1;
$brand-amaranth         : #e52b50;
$brand-nevada           : #666e6e;
$brand-rangoon-green    : #181a1a;
$brand-gossamer         : #029378;
$brand-observatory      : #028a71;
$brand-woodsmoke        : #0c0d0d;

$green-light: #e4ff66