@import './colors';

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.page {
    display: flex;

    flex-grow: 1;
    justify-content: center;
    align-items: center;

    color: $brand-white;

    animation: fade-in .4s;
}