@import '../../styles/colors';

.login-page {
    display: flex;
    height: 100%;

    justify-content: center;
    align-items: center;

    > .popup {
        width: 400px;
        height: 300px;
        border: 1px $brown-dark solid;

        background-color: $brown-light;

        .input-field:focus {
            background-color: $coffee;
        }

        > .input-line {
            label[for] {
                cursor: pointer;
            }
        }

        > .warning {
            font-size: 15px;
            color: $red-light;
        }
    }
}